header{
    font-family: 'roboto slab';
    background-color: rgb(68, 80, 224);
    text-align: center;

}
main{
    
}
body{
    font-family: inter, sans-serif;
    background-image:url(/aula17-imagens-de-fundo/imagens/wallpaper004.jpg);
}
div{
    display:;
    border: 1px solid black;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}