header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
    background: linear-gradient(#516b77, #d6d5d5);
    height: 100px;
    margin-top: 20px;
    
}
header h1{
    
}
div{
    display: flex;
}
div.div{
    display: flex;
}
ul{
    list-style: none;
}
div.colunas{
    justify-content: center;

}
li{
    background-color:#bf8c91 ;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    margin: 10px;
    font-family: 'Sophisto OT W01 DGauge';
    color: white;
    text-align: center;
}
span{
    background-color:#bf8c91 ;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    margin: 10px;
    color: white;
    font-family: sans-serif;
    font-style: italic;

}
em p{
    
text-align: center;

}
main{
    max-width: 900px;
    margin: 0 auto;
}
body{
    text-align: center;
}
h1{
    color: #4e6773;
    font-family: sans-serif;
}